*{
    box-sizing: border-box;
}
.app-wrapper {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 60px 1fr;
    grid-template-areas: 
    'h h'
    'a m';
    height: 100vh;
}

.header {
    background-color: #1e791480;
    /* border: 2px solid; */
    grid-area: h;
}

.nav {
    background-color: #b8a02a;
    /* border: 2px solid; */
    grid-area: a;
}



