*{
    box-sizing: border-box;
}
.app-wrapper {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 60px 1fr;
    grid-template-areas: 
    'h h'
    'a m';
    height: 100vh;
}

.header {
    background-color: #1e791480;
    /* border: 2px solid; */
    grid-area: h;
}

.app-wrapper-content {
    background-color: rgb(174, 187, 206);
    /* border: 2px solid; */
    padding: 10px;
    grid-area: m;
}





